@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';

:root {
    --red: #FF0000;
    --gray: #9B9B9B;
    --lightgray: #E1E1E1;
    --darkgray: #6D6D6D;
    --footer: #C8B9B9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightgray);
}

.linea-roja hr {
    border: 2px solid var(--red);
}


.container-menu {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 85px);
    background-color: var(--red);
}

.container-menu .logo {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.container-menu .logo .imagen {
    grid-column: 1/2;
    position: relative;
    top: 5px;
    left: 40px;
    z-index: 3;
}

.container-menu .logo .texto {
    grid-column: 2/-1;
    position: relative;
    top: 7px;
    left: 60px;
}

.container-menu .logo .imagen img {
    max-width: 100%;
    border-radius: 50px;
    border: 2px solid black;
}

.container-menu .logo .texto h1 {
    font-family: 'Poppins';
    color: white;
}

.container-menu .menu {
    grid-column: 4/8;
    position: relative;
    top: 30px;
}

.container-menu .menu li {
    display: inline;
    margin: 10px;
}

.container-menu .menu li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 17px;
}



.footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 70px);
    background-color: var(--footer);
}

.footer .contacto {
    grid-column: 2/4;
    position: relative;
    top: 40px;
    text-align: center;
}

.footer .direccion {
    grid-column: 4/6;
    position: relative;
    top: 40px;
    text-align: center;
}

.footer .rr-ss {
    grid-column: 6/8;
    position: relative;
    top: 40px;
    text-align: center;
}

.footer .contacto h1,
.footer .direccion h1,
.footer .rr-ss h1 {
    color: var(--darkgray);
    font-family: 'Poppins';
    text-shadow: 2px 2px black;
    font-size: 35px;
}

.footer .contacto p,
.footer .direccion p {
    position: relative;
    top: 10px;
    font-family: 'Poppins';
    color: var(--darkgray);
    font-size: 20px;
}





.container-carousel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    z-index: 2;
}

.container-carousel .slide-01,
.container-carousel .slide-02,
.container-carousel .slide-03 {
    grid-column: 1/-1;
}

.container-carousel .slide-01 .texto,
.container-carousel .slide-02 .texto,
.container-carousel .slide-03 .texto {
    position: absolute;
    top: 45%;
    left: 35%;
}   

.container-carousel .slide-01 .imagen img ,
.container-carousel .slide-02 .imagen img ,
.container-carousel .slide-03 .imagen img  {
    max-width: 100%;
    opacity: .8;
}

.container-carousel .slide-01 .texto h1,
.container-carousel .slide-02 .texto h1,
.container-carousel .slide-03 .texto h1 {
    font-family: 'Poppins';
    color: var(--red);
    font-size: 80px;
    text-shadow: 2px 5px black;
}   

.container-carousel .slide-01 .texto p,
.container-carousel .slide-02 .texto p,
.container-carousel .slide-03 .texto p {
    font-family: 'Poppins';
    color: var(--gray);
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px black;
}   





.container-nosotros {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 90px);
}

.container-nosotros .titulo {
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-nosotros .texto {
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    position: relative;
    top: 20px;
}

.container-nosotros .titulo h1 {
    font-family: 'Poppins';
    color: var(--red);
    font-size: 40px;
}

.container-nosotros .texto p {
    font-family: 'Poppins';
    font-size: 20px;
    color: var(--darkgray);
}

.container-nosotros .logo {
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 50px;
}

.container-nosotros .logo .imagen {
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
}

.container-nosotros .logo .texto {
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
    top: 20px;
    left: 40px;
}

.container-nosotros .logo .imagen img {
    max-width: 100%;
    border-radius: 50px;
    border: 2px solid black;
}

.container-nosotros .logo .texto h1 {
    font-family: 'Poppins';
    color: var(--darkgray);
    font-size: 20px;
}





.container-clientes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 90px);
    background-color: white;
}

.container-clientes .titulo {
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-clientes .texto {
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    position: relative;
    top: 20px;
}

.container-clientes .titulo h1 {
    font-family: 'Poppins';
    font-size: 40px;
    color: var(--red);

}

.container-clientes .texto p {
    font-family: 'Poppins';
    font-size: 20px;
    color: var(--darkgray);
}


/* ------------------------------------------------- */
.container-marcos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 120px auto 60px;
}

.container-marcos .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-marcos .titulo h1 {
    color: var(--red);
    font-family: 'Poppins';
    font-size: 40px;
}

.container-marcos .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-marcos .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container-marcos .galeria .columns .imagen-01 {
    grid-column: 3/5;
    position: relative;
    right: 40px;
}

.container-marcos .galeria .columns .imagen-02 {
    grid-column: 5/7;
    position: relative;
    right: 13.5px;
}

.container-marcos .galeria .columns .imagen-03 {
    grid-column: 7/9;
    position: relative;
    left: 13.5px;
}

.container-marcos .galeria .columns .imagen-04 {
    grid-column: 9/11;
    position: relative;
    left: 40px;
}

.container-marcos .galeria .columns .imagen-01 img,
.container-marcos .galeria .columns .imagen-02 img,
.container-marcos .galeria .columns .imagen-03 img,
.container-marcos .galeria .columns .imagen-04 img {
    max-width: 100%;
    border-radius: 20px;
}

/* ------------------------------------------------- */



.container-molduras {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 120px auto 70px;
}


.container-molduras .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-molduras .titulo h1 {
    color: var(--red);
    font-family: 'Poppins';
    font-size: 40px;
}

.container-molduras .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-molduras .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.container-molduras .galeria .columns .imagen-01 {
    grid-column: 3/5;
    position: relative;
    right: 70px;
}

.container-molduras .galeria .columns .imagen-02 {
    grid-column: 5/7;
    position: relative;
    right: 35px;
}

.container-molduras .galeria .columns .imagen-03 {
    grid-column: 7/9;
}

.container-molduras .galeria .columns .imagen-04 {
    grid-column: 9/11;
    position: relative;
    left: 35px;
}

.container-molduras .galeria .columns .imagen-05 {
    grid-column: 11/13;
    position: relative;
    left: 70px;
}

.container-molduras .galeria .columns .imagen-01 img,
.container-molduras .galeria .columns .imagen-02 img,
.container-molduras .galeria .columns .imagen-03 img,
.container-molduras .galeria .columns .imagen-04 img,
.container-molduras .galeria .columns .imagen-05 img {
    max-width: 100%;
    border-radius: 20px;
    border: 4px solid black;
    border: 2px solid var(--darkgray);
}

/* ---------------------------------------------------- */






.container-trabajos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px auto;
}

.container-trabajos .titulo {
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-trabajos .titulo h1 {
    color: var(--red);
    font-family: 'Poppins';
    font-size: 40px;
}

.container-trabajos .filtro {
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    position: relative;
    top: 40px;
}

.container-trabajos .filtro a {
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: var(--red);
    font-size: 17px;
    font-family: 'Poppins';
    border: .1px solid var(--red);
    border-radius: 10px;
    outline: none;
}

.container-trabajos .contenido {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 150px;
    position: relative;
    top: 80px;
}

.container-trabajos .contenido .crewuel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 1/-1;
}

.container-trabajos .contenido .crewuel .titulo {
    grid-column: 3/6;
    position: relative;
    top: 0px;
}

.container-trabajos .contenido .crewuel .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-trabajos .contenido .crewuel .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-trabajos .contenido .crewuel .galeria .columns .imagen-01 {
    grid-column: 2/3;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .crewuel .galeria .columns .imagen-02 {
    grid-column: 3/4;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .crewuel .galeria .columns .imagen-03 {
    grid-column: 4/5;
}

.container-trabajos .contenido .crewuel .galeria .columns .imagen-04 {
    grid-column: 5/6;
    position: relative;
    left: 20px;
}

.container-trabajos .contenido .crewuel .galeria .columns .imagen-01 img,
.container-trabajos .contenido .crewuel .galeria .columns .imagen-02 img,
.container-trabajos .contenido .crewuel .galeria .columns .imagen-03 img,
.container-trabajos .contenido .crewuel .galeria .columns .imagen-04 img {
    max-width: 100%;
    border-radius: 20px;
}





.container-trabajos .contenido .oleo {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.container-trabajos .contenido .oleo .titulo {
    grid-column: 3/6;
    position: relative;
    top: 0px;
}

.container-trabajos .contenido .oleo .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-trabajos .contenido .oleo .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container-trabajos .contenido .oleo .galeria .columns .imagen-01 {
    grid-column: 2/4;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .oleo .galeria .columns .imagen-02 {
    grid-column: 4/6;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .oleo .galeria .columns .imagen-03 {
    grid-column: 6/8;
}


.container-trabajos .contenido .oleo .galeria .columns .imagen-01 img,
.container-trabajos .contenido .oleo .galeria .columns .imagen-02 img,
.container-trabajos .contenido .oleo .galeria .columns .imagen-03 img {
    max-width: 100%;
    border-radius: 20px;
}



.container-trabajos .contenido .caja-decorativa {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.container-trabajos .contenido .caja-decorativa .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 0px;
}

.container-trabajos .contenido .caja-decorativa .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-trabajos .contenido .caja-decorativa .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-01 {
    grid-column: 2/3;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-02 {
    grid-column: 3/4;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-03 {
    grid-column: 4/5;
}

.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-04 {
    grid-column: 5/6;
    position: relative;
    left: 20px;
}


.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-01 img,
.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-02 img,
.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-03 img,
.container-trabajos .contenido .caja-decorativa .galeria .columns .imagen-04 img {
    max-width: 100%;
    border-radius: 20px;
}







.container-trabajos .contenido .retratos {
    grid-column: 1/-1;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.container-trabajos .contenido .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 0px;
}

.container-trabajos .contenido .retratos .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-trabajos .contenido .retratos .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-01 {
    grid-column: 2/3;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-02 {
    grid-column: 3/4;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-03 {
    grid-column: 4/5;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-04 {
    grid-column: 5/6;
    position: relative;
    left: 20px;
}


.container-trabajos .contenido .retratos .galeria .columns .imagen-01 {
    grid-column: 2/3;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-02 {
    grid-column: 3/4;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-03 {
    grid-column: 4/5;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-04 {
    grid-column: 5/6;
    position: relative;
    left: 20px;
}

.container-trabajos .contenido .retratos .galeria .columns .imagen-01 img,
.container-trabajos .contenido .retratos .galeria .columns .imagen-02 img,
.container-trabajos .contenido .retratos .galeria .columns .imagen-03 img,
.container-trabajos .contenido .retratos .galeria .columns .imagen-04 img {
    max-width: 100%;
    border-radius: 20px;
}





.container-trabajos .contenido .cuadros {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.container-trabajos .contenido .cuadros .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 0px;
}

.container-trabajos .contenido .cuadros .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-trabajos .contenido .cuadros .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container-trabajos .contenido .cuadros .galeria .columns .imagen-01 {
    grid-column: 2/4;
    position: relative;
    right: 40px;
}

.container-trabajos .contenido .cuadros .galeria .columns .imagen-02 {
    grid-column: 4/6;
    position: relative;
    right: 20px;
}

.container-trabajos .contenido .cuadros .galeria .columns .imagen-03 {
    grid-column: 6/8;
}

.container-trabajos .contenido .cuadros .galeria .columns .imagen-01 img,
.container-trabajos .contenido .cuadros .galeria .columns .imagen-02 img,
.container-trabajos .contenido .cuadros .galeria .columns .imagen-03 img {
    max-width: 100%;
    border-radius: 20px;
}


/* ---------------------------------------------------------------- */



.container-taller {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px auto 100px;
}

.container-taller .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-taller .titulo h1 {
    color: var(--red);
    font-family: 'Poppins';
    font-size: 40px;
}

.container-taller .galeria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    top: 20px;
}

.container-taller .galeria .columns {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container-taller .galeria .columns .foto-01 {
    grid-column: 2/4;
    position: relative;
    right: 20px;
}

.container-taller .galeria .columns .foto-02 {
    grid-column: 4/6;
}

.container-taller .galeria .columns .foto-03 {
    grid-column: 6/8;
    position: relative;
    left: 20px;
}


.container-taller .galeria .columns .foto-01 img,
.container-taller .galeria .columns .foto-02 img,
.container-taller .galeria .columns .foto-03 img {
    max-width: 100%;
    border-radius: 20px;
}


/* -------------------------------------------------- */



.container-contacto {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 100px);
}

.container-contacto .titulo {
    grid-column: 2/7;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-contacto .formulario {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 100px);
    position: relative;
    top: 40px;
}

.container-contacto .formulario .nombre {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    right: 20px;
}

.container-contacto .formulario .apellido {
    grid-column: 5/6;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    left: 20px;
}

.container-contacto .formulario .telefono {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    position: relative;
    right: 20px;
}

.container-contacto .formulario .correo {
    grid-column: 5/6;
    grid-row: 2/3;
    text-align: center;
    position: relative;
    left: 20px;
}

.container-contacto .formulario .mensaje {
    grid-column: 4/6;
    grid-row: 3/4;
    text-align: center;
}

.container-contacto .formulario .boton {
    grid-column: 4/6;
    grid-row: 5/6;
    text-align: center;
}

.container-contacto .titulo h1 {
    color: var(--red);
    font-family: 'Poppins';
    font-size: 40px;
}

.container-contacto .formulario .nombre p,
.container-contacto .formulario .apellido p,
.container-contacto .formulario .telefono p,
.container-contacto .formulario .correo p,
.container-contacto .formulario .mensaje p {
    font-family: 'Poppins';
    font-size: 17px;
    color: var(--darkgray);
}

.container-contacto .formulario .nombre input,
.container-contacto .formulario .apellido input,
.container-contacto .formulario .telefono input,
.container-contacto .formulario .correo input {
    width: 100%;
    height: 25%;
    text-align: center;
    font-family: 'Poppins';
}


.container-contacto .formulario .mensaje textarea {
    width: 100%;
    height: 150px;
    resize: none;
    text-align: center;
    font-family: 'Poppins';
}

.container-contacto .formulario .boton input {
    width: 100px;
    height: 40px;
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
    background-color: var(--red);
    border: .5px solid var(--red);
    border-radius: 10px;
}


.container-contacto .mapa {
    grid-column: 1/-1;
    grid-row: 7/10;
    border-top: 1px solid var(--darkgray);
    border-bottom: 1px solid var(--darkgray);
}

.container-contacto .logo {
    grid-column: 1/-1;
    grid-row: 11/12;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.container-contacto .logo .imagen {
    grid-column: 4/5;
    grid-row: 1/2;
}

.container-contacto .logo .texto {
    grid-column: 5/6;
    grid-row: 1/2;
    position: relative;
    right: 100px;
}

.container-contacto .logo .texto h1 {
    font-family: 'Poppins';
    color: var(--darkgray);
}

.container-contacto .logo .imagen img {
    border-radius: 50px;
    border: 2px solid black;
}



